*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#edf2fb;

color:#333;

}

header{

background:#1d3557;

color:white;

text-align:center;

padding:60px;

}

header h1{

font-size:45px;

}

header p{

margin-top:10px;

font-size:20px;

}

nav{

background:#457b9d;

padding:15px;

text-align:center;

}

nav a{

color:white;

text-decoration:none;

margin:25px;

font-size:18px;

font-weight:bold;

}

nav a:hover{

color:yellow;

}

section{

width:80%;

margin:40px auto;

background:white;

padding:30px;

border-radius:12px;

box-shadow:0 5px 15px rgba(0,0,0,0.2);

}

h2{

color:#1d3557;

margin-bottom:15px;

}

ul{

margin-left:20px;

}

.card{

margin-top:20px;

padding:20px;

background:#f8f9fa;

border-left:6px solid #457b9d;

border-radius:8px;

}

footer{

background:#1d3557;

color:white;

text-align:center;

padding:20px;

margin-top:40px;

}
